body
{
    margin:0px;
    overflow:hidden;
    background-color: black;
}

td
{
    border: 1px solid black;
    padding: 10px;
}

#buttons
{
    padding: 10px;
    position: absolute;
    z-index: 1;
}

#planetInfo
{
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    font-size: xx-large;
    left: 10px;
    padding: 10px;
    position: absolute;
    top: 100px;
    max-width: 100%;
    z-index: 1;
}

#moonsInfo
{
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    font-size: xx-large;
    left: 10px;
    max-height: 75%;
    overflow: scroll;
    padding: 5px;
    padding-right: 25px;
    position: absolute;
    top: 100px;
    max-width: 100%;
    z-index: 1;
}

#camera
{
    position: absolute;
}

.button
{
    border: 2px solid black;
    color: white;
    display: inline-block;
    float: left;
    font-size: 25px;
    font-weight: bold;
    height: 75px;
    opacity: 0.5;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    transition: 0.2s;
    width: 150px;
    max-width: 100%;
}

.b1
{
    background-color: #555555;
    border-left: 3px solid black;
}

.b2
{
    background-color: #008CBA;
}

.b3
{
    background-color: #e7e7e7;
    color: black;
}

.b4
{
    background-color: #4CAF50;
}

.b5
{
    background-color: #f44336;
}

.button:hover
{
    opacity: 1;
}

.center
{
    text-align: center;
}

.tooltip {
    position: relative;
    /* display: inline-block; */
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 500px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
